doctype html
html
  head
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css")
    link(rel="stylesheet", href="./styles/index.css")
    title My Site


  body
    div.main-wrapper
      section.container
        h2.title Buttons Big

        div.btn-wrap-lg
          button(type='button').btn-wrap-lg__btn.btn--blue Download
          button(type='button').btn-wrap-lg__btn.btn--grey Download
          button(type='button').btn-wrap-lg__btn.btn--black Download
          button(type='button').btn-wrap-lg__btn.btn--transp Download

          button(type='button').btn-wrap-lg__btn.btn--blue.btn--icon Download
            svg.btn-icon(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")


          button(type='button').btn-wrap-lg__btn.btn--grey.btn--icon  Download
            svg.btn-icon(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path.grey(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.grey(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.grey(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.grey(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

          button(type='button').btn-wrap-lg__btn.btn--black.btn--icon  Download
            svg.btn-icon(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path.black(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.black(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.black(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.black(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

          button(type='button').btn-wrap-lg__btn.btn--transp.btn--icon Download
            svg.btn-icon(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path.blue(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.blue(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.blue(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.blue(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

          button(type='button').btn-wrap-lg__btn.btn--blue.btn--icon
            svg.btn-icon-start(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            span Download

          button(type='button').btn-wrap-lg__btn.btn--grey.btn--icon 
            svg.btn-icon-start(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path.grey(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.grey(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.grey(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.grey(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            span Download

          button(type='button').btn-wrap-lg__btn.btn--black.btn--icon 
            svg.btn-icon-start(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path.black(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.black(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.black(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.black(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            span Download

          button(type='button').btn-wrap-lg__btn.btn--transp.btn--icon
            svg.btn-icon-start(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path.blue(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.blue(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.blue(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path.blue(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            span Download

      section.container.positioned
        div.tab-wrap-lg
          div.btn-group
            button.btn-group__btn
              svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.white(fill-rule="evenodd" clip-rule="evenodd" d="M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z" fill="white")

            button.btn-group__btn
              svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.black(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.black(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.black(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.black(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

            button.btn-group__btn
              svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.black(d="M15 12.51H15.5V12.01V10.51H16.5V13.01C16.5 13.2869 16.2769 13.51 16 13.51H8C7.72314 13.51 7.5 13.2869 7.5 13.01V10.51H8.5V12.01V12.51H9H15Z" fill="#2C2C2C" stroke="#2C2C2C")
                path.black(d="M2.92205 6.30863L2.90861 6.29902L5.3096 3.10657L5.3101 3.1059C5.58912 2.73363 6.0385 2.50903 6.508 2.50903H17.508C17.9791 2.50903 18.4295 2.73545 18.7101 3.11188L18.7105 3.11237L21.1053 6.31638L21.0935 6.32544L21.3866 6.72011C21.4672 6.82871 21.5 6.92251 21.5 7.01003V18.01C21.5 18.8369 20.8269 19.51 20 19.51H4C3.17314 19.51 2.5 18.8369 2.5 18.01V7.01003C2.5 6.92206 2.53338 6.82686 2.615 6.71803L2.92205 6.30863ZM6.508 3.51003H6.2584L6.10838 3.70952L4.60438 5.70952L4.0024 6.51003H5.004H19.003H20.001L19.4035 5.71067L17.9085 3.71067L17.7585 3.51003H17.508H6.508ZM3.5 18.01V18.51H4H20.002H20.5021L20.502 18.0099L20.5 8.00993L20.4999 7.51003H20H4H3.5V8.01003V18.01Z" fill="#2C2C2C" stroke="#2C2C2C")

          div.btn-group
            button.btn-group__btn Tab 1
            button.btn-group__btn Tab 1

          div.btn-group
            button.btn-group__btn S
            button.btn-group__btn M
            button.btn-group__btn L


      section.container
        h2.title Buttons Small

          div.btn-wrap-sm
            button(type='button').btn-wrap-sm__btn.btn--blue Download
            button(type='button').btn-wrap-sm__btn.btn--grey Download
            button(type='button').btn-wrap-sm__btn.btn--black Download
            button(type='button').btn-wrap-sm__btn.btn--transp Download

            button(type='button').btn-wrap-sm__btn.btn--blue.btn--icon Download
              svg.btn-icon(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")


            button(type='button').btn-wrap-sm__btn.btn--grey.btn--icon  Download
              svg.btn-icon(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.grey(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.grey(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.grey(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.grey(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

            button(type='button').btn-wrap-sm__btn.btn--black.btn--icon  Download
              svg.btn-icon(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.black(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.black(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.black(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.black(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

            button(type='button').btn-wrap-sm__btn.btn--transp.btn--icon Download
              svg.btn-icon(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.blue(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.blue(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.blue(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.blue(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

            button(type='button').btn-wrap-sm__btn.btn--orange.btn--icon
              svg.btn-icon-start(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              span Download

            button(type='button').btn-wrap-sm__btn.btn--grey.btn--icon 
              svg.btn-icon-start(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.grey(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.grey(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.grey(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.grey(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              span Download

            button(type='button').btn-wrap-sm__btn.btn--black.btn--icon 
              svg.btn-icon-start(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.black(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.black(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.black(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.black(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              span Download

            button(type='button').btn-wrap-sm__btn.btn--transp.btn--icon
              svg.btn-icon-start(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.blue(d="M4 12V19H20V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.blue(d="M12 3.50073L12 13.5007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.blue(d="M12 13.5007L15.375 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path.blue(d="M12 13.5007L8.625 10.1257" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              span Download

      section.container.positioned
        div.tab-wrap-sm
          div.btn-group
            button.btn-group__btn Tab 1
            button.btn-group__btn Tab 1

          div.btn-group
            button.btn-group__btn
              svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.white(fill-rule="evenodd" clip-rule="evenodd" d="M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z" fill="white")

            button.btn-group__btn
              svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.black(fill-rule="evenodd" clip-rule="evenodd" d="M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z" fill="white")

            button.btn-group__btn
              svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.black(fill-rule="evenodd" clip-rule="evenodd" d="M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z" fill="white")


          div.btn-group
            button.btn-group__btn S
            button.btn-group__btn M
            button.btn-group__btn L

          div.seach-group
            span.search-group__search.search--green.search--sm
              svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.white(fill-rule="evenodd" clip-rule="evenodd" d="M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z" fill="white")

            span.search-group__search.search--orange.search--lg
              svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.white(fill-rule="evenodd" clip-rule="evenodd" d="M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z" fill="white")

  div.tag-wrap
    button.tag-wrap__tag.btn--black.btn--icon Tag
      svg.btn-icon(width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg")
        path.black(d="M1.45122 6.78446L3.64647 4.58921L4.00002 4.23565L4.35357 4.58921L6.54884 6.78447C6.61391 6.84954 6.71946 6.84954 6.78453 6.78447C6.84961 6.7194 6.84961 6.61385 6.78453 6.54878L4.58927 4.35351L4.23571 3.99996L4.58927 3.64641L6.78452 1.45116C6.84961 1.38607 6.84961 1.28052 6.78452 1.21543C6.71945 1.15036 6.61392 1.15036 6.54885 1.21543L6.54884 1.21544L4.35357 3.41071L4.00002 3.76427L3.64647 3.41071L1.45121 1.21544C1.45121 1.21544 1.45121 1.21544 1.45121 1.21544C1.38612 1.15036 1.2806 1.15036 1.2155 1.21543C1.2155 1.21544 1.2155 1.21544 1.2155 1.21544M1.45122 6.78446L1.2155 1.21544M1.45122 6.78446C1.38613 6.84955 1.28058 6.84955 1.21549 6.78446C1.15042 6.71939 1.15042 6.61386 1.21549 6.54879L1.2155 6.54878L3.41077 4.35351L3.76433 3.99996L3.41077 3.6464L1.2155 1.45115M1.45122 6.78446L1.2155 1.45115M1.2155 1.21544C1.15042 1.28053 1.15042 1.38606 1.2155 1.45115M1.2155 1.21544L1.2155 1.45115M1.2155 1.45115C1.2155 1.45115 1.2155 1.45115 1.2155 1.45115M1.2155 1.45115L1.2155 1.45115" stroke="white")

    button.tag-wrap__tag.btn--blue.btn--icon Tag
      svg.btn-icon(width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg")
        path.white(d="M1.45122 6.78446L3.64647 4.58921L4.00002 4.23565L4.35357 4.58921L6.54884 6.78447C6.61391 6.84954 6.71946 6.84954 6.78453 6.78447C6.84961 6.7194 6.84961 6.61385 6.78453 6.54878L4.58927 4.35351L4.23571 3.99996L4.58927 3.64641L6.78452 1.45116C6.84961 1.38607 6.84961 1.28052 6.78452 1.21543C6.71945 1.15036 6.61392 1.15036 6.54885 1.21543L6.54884 1.21544L4.35357 3.41071L4.00002 3.76427L3.64647 3.41071L1.45121 1.21544C1.45121 1.21544 1.45121 1.21544 1.45121 1.21544C1.38612 1.15036 1.2806 1.15036 1.2155 1.21543C1.2155 1.21544 1.2155 1.21544 1.2155 1.21544M1.45122 6.78446L1.2155 1.21544M1.45122 6.78446C1.38613 6.84955 1.28058 6.84955 1.21549 6.78446C1.15042 6.71939 1.15042 6.61386 1.21549 6.54879L1.2155 6.54878L3.41077 4.35351L3.76433 3.99996L3.41077 3.6464L1.2155 1.45115M1.45122 6.78446L1.2155 1.45115M1.2155 1.21544C1.15042 1.28053 1.15042 1.38606 1.2155 1.45115M1.2155 1.21544L1.2155 1.45115M1.2155 1.45115C1.2155 1.45115 1.2155 1.45115 1.2155 1.45115M1.2155 1.45115L1.2155 1.45115" stroke="white")

    button.tag-wrap__tag.btn--grey Tag
    button.tag-wrap__tag.btn--blue Tag
